[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/llvm/llvm-project
	branch = release/8.x
[submodule "src/wasi-libc"]
	path = src/wasi-libc
	url = https://github.com/swiftwasm/wasi-sysroot
[submodule "src/config"]
	path = src/config
	url = https://git.savannah.gnu.org/git/config.git
