[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "src/reference-sysroot"]
	path = src/reference-sysroot
	url = git@github.com:cranestation/reference-sysroot-wasi
