[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "src/wasi-sysroot"]
	path = src/wasi-sysroot
	url = git@github.com:CraneStation/wasi-sysroot
