name: CI

on:
  create:
    tags:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Native Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Install ninja (Windows)
        run: choco install ninja
        if: matrix.os == 'windows-latest'
      - name: Install ninja (macOS)
        run: brew install ninja
        if: matrix.os == 'macos-latest'
      - name: Install ninja (Linux)
        run: sudo apt install ninja-build
        if: matrix.os == 'ubuntu-latest'
      - name: Build
        run: make package
        shell: bash
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          # Upload the dist folder. Give it a name according to the OS it was built for.
          name: ${{ format( 'dist-{0}', matrix.os) }}
          path: dist
      - name: Compile tests
        run: make check
        if: matrix.os == 'ubuntu-latest'
      - name: "Run tests: wasmtime"
        run: |
          VERSION=v0.8.0
          wget https://github.com/bytecodealliance/wasmtime/releases/download/v0.8.0/wasmtime-$VERSION-x86_64-linux.tar.xz
          tar -xf wasmtime-$VERSION-x86_64-linux.tar.xz
          WASMTIME=wasmtime-$VERSION-x86_64-linux/wasmtime
          make check RUNTIME=$WASMTIME
        if: matrix.os == 'ubuntu-latest'

  dockerbuild:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Run docker_build script
        run: ./docker_build.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          # Upload the dist folder. Give it a name according to the OS it was built for.
          name: dist-ubuntu-xenial
          path: dist
