name: CI

on:
  create:
    tags:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Install ninja (windows)
        run: choco install ninja
        if: matrix.os == 'windows-latest'
      - name: Install ninja (macos)
        run: brew install ninja
        if: matrix.os == 'macos-latest'
      - name: Install ninja (linux)
        run: sudo apt install ninja-build
        if: matrix.os == 'ubuntu-latest'
      - name: Build (sudo)
        run: sudo make -j4 package
        if: matrix.os != 'windows-latest'
      - name: Build (windows)
        run: make -j4 package
        if: matrix.os == 'windows-latest'
      - name: Run the testsuite
        run: make check
        if: matrix.os == 'ubuntu-latest'
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          # Upload the dist folder. Give it a name according to the OS it was built for.
          name: ${{ format( 'dist-{0}.tgz', matrix.os) }}
          path: dist
